.forum-detail{
    .detail-box{
        background: #fff;
        padding: 0 40px;
        padding-top: 60px;
        .tit{
            font-size:50px;
            font-weight:bold;
            color:rgba(71,71,71,1);
            margin-bottom:60px;
        }
        .people{
            display: flex;
            align-items: center;
            padding-bottom: 70px;
            border-bottom:1px solid #D5D5D5;
            margin-bottom:30px;
            img{
                width:122px;
                height:122px;
                border-radius:50%;
                display: block;
            }
            .info{
                .name{
                    font-size:40px;
                    font-weight:400;
                    color:rgba(0,0,0,1);
                    margin-bottom: 20px;
                    display: block;
                }
                p{
                    font-size:35px;
                    font-weight:400;
                    color:rgba(172,172,172,1);
                }
            }
        }
        .detail-bg{
            display: block;
            width: 100%;
        }
        .detail-btn{
            .zan{
                width:317px;
                height:78px;
                border:2px solid rgba(255, 163, 161, 1);
                border-radius:3px;
                background: #FFF6F6;
            }
            .share{
                width:317px;
                height:78px;
                border:2px solid rgba(243, 186, 136, 1);
                border-radius:3px;
                background: #FFF5ED;
            }
        }
    }
}