html,body{
    padding: 0;
    margin: 0;
    font-family: '宋体';
}
ul,li,p{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, input, legend, li, ol, p, pre, td, textarea, th, ul{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}