.learn-free{
    /* 小班教学 */
    .section1{
        position: relative;
        padding-bottom: 70px;
        padding-top: 44px;
        padding-left: 54px;
        background: #fff;
        margin-top: 36px;
        .title{
            display: flex;
            align-items: center;
            span{
                font-size:35px;
                color:rgba(255,255,255,1);
                background:rgba(223,189,131,1);
                display: block;
                padding: 11px 6px;
                margin-right: 35px;
            }
            p{
                font-size:38px;
                font-weight:bold;
            }
        }
        .time{
            font-size:35px;
            color: #ACACAC;
            padding: 30px 0;
        }
        .info{
            display: flex;
            align-items: center;
            .teacher-pic{
                width:122px;
                height:122px;
                border-radius:50%;
                display: block;
                margin-right: 23px;
            }
            p{
                font-size:40px;
            }
            .join-btn{
                width: 328px;
                height: 86px;
                position: absolute;
                bottom:90px;
                right: 22px;
                display: block;
            }
        }
    }
}